NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=gestor_financeiro
JWT_SECRET=seu_secret_jwt_super_seguro_aqui
CORS_ORIGIN=http://localhost:5173
